/*----------540--------------------------*/
@media screen and (max-width: 540px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      margin-top: -15px;
    }
    
  };

  @media screen and (max-width: 768px) {
    .topnav a {
      display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      color: red;
    }
    .main-navbar{
      height: 150px;
    }
  };

  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  .main-navbar a{
    position: relative;
    right: 0px;
    top: 50px;
    padding: 0;
   font-size: 1em;
  }
   
  a.icon{
    position: absolute;
    top: 30px;
    right: 40px;
  }
  };

  @media screen and (max-width: 1900px){
  .hero-text{
    font-size: 1.2rem;
  }
};

@media screen and (max-width: 1400px){
  .hero-img img{
    object-fit: cover;
  
  }
  .hero-text{
    font-size: 1.4rem;
  }
  
  .hero-headline{
    font-size: 3.5em;
    }
  
  };

  @media screen and (max-width: 1024px){
.hero-img img{
  object-fit: cover;
}
.hero-headline{
  font-size: 3em;
  }
};

@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display:none ;
    
  }
  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
  }
  .hero-text {
    width: unset;
    font-size: 1.5rem;
  }
  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
    
  }
  .hero-section > .btn-signup {
    display: grid;
    margin: 32px auto 10px;
    padding: 12px 35px;
    
  }
  .copyrights {
    margin-top: 50px;
    text-align: center;
    
  }
 
#secondInscritBtn{
  display: none;
}
  
};
